.eyedraw-selected-doodle {
	bottom: 0;
	position: absolute;
	right: -190px;
	width: 190px;
	label {
		color: #5b5b5b;
		font-size: .7rem;
		font-weight: bold;
		padding-left: 10px;
	}
	.selected {
		@include border-radius(4px);
		background: {
			color: #e4edf5;
			image: image-url("icons/16x16/selected-doodle.png");
			repeat: no-repeat;
			position: 1px 3px;
		}
		border: 2px solid #68c8f8;
		padding: 2px 2px 2px 20px;
	}
}